@import "tailwindcss";
@font-face {
    font-family: 'Sansation';
    src: url('/web-assets/fonts/Sansation-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dream Avenue';
  src: url('/web-assets/fonts/Dream-Avenue.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url('/web-assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
}

#control-room .react-multi-carousel-track,
#control-room .react-multi-carousel-list {
  position: static!important;
}

#control-room .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right,
#control-room .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  bottom: 20px;
  background-color: transparent;
  border: #C2A990 1px solid;
}

#control-room .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right:before,
#control-room .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left:before {
  color: #C2A990!important;
}

@config "../tailwind.config.js"